$grey1: rgb(229, 227, 227);
$grey2: rgba(228, 228, 229, 0.7);
$grey4: rgba(199, 199, 200, 0.7);
$grey3: #6a6969;
$grey5: rgba(100, 99, 99, 0.5);

$white1: rgb(230, 226, 226);
$white2: rgb(241, 241, 242);
$white3: rgb(247, 248, 250);

$black1: #0d1216;
$black2: #11171d99;

$purple1: #8b3dff;
$purple2: #7334d1;
