$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

@mixin btnText() {
  font-size: 0.875em;
  font-weight: bold;
}

@mixin flexCenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: relative;
  padding: 0 2em;
  box-shadow: 0px 1px 5px $grey1;

  & .app-header {
    @include flexCenter();
    min-height: 4em;

    & section {
      &:first-of-type {
        @include flexCenter();

        & .navbar-btn {
          opacity: 0;
          @include flexCenter();
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0.3em;
          border-radius: 5px;
          font-size: 1em;

          &:hover {
            background-color: $grey2;
          }
        }

        & img {
          @include flexCenter();
          cursor: pointer;
        }
      }
    }

    & .header-navbar {
      @include flexCenter();

      & button {
        @include flexCenter();
        @include btnText();
        color: $grey3;
        width: fit-content;
        height: 100%;
        background-color: transparent;
        border: none;
        margin-inline-start: 1em;
        cursor: pointer;
      }
    }

    & section {
      &:nth-of-type(2) {
        @include flexCenter();

        & .btn-login {
          padding: 0 1em;
          width: 6em;
          height: 2.5em;
          border: 1px solid $white1;
          border-radius: 5px;
          cursor: pointer;
          margin-inline-end: 1em;
          background-color: white;

          &:hover {
            background-color: $white2;
          }

          & span {
            @include btnText();
            color: $black1;
          }
        }

        & .btn-signup {
          @extend .btn-login;
          background-color: $purple1;

          &:hover {
            background-color: $purple2;
          }

          & span {
            @include btnText();
            color: #fff;
          }
        }

        & .profile {
          display: inline-block;
          width: 5em;

          & img {
            cursor: pointer;
          }
        }

        & .btn-logout {
          @extend .btn-login;
        }

        & .create-design-btn {
          @extend .btn-login;
          background-color: $purple1;
          width: fit-content;

          &:hover {
            background-color: $purple2;
          }

          & span {
            @include btnText();
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .header-container {
    & .app-header {
      & section {
        &:first-of-type {
          & .navbar-btn {
            opacity: 1;
          }

          & img {
            width: 70px;
            margin-inline-start: 0.5em;
          }
        }
      }

      & .header-navbar {
        display: none !important;
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .header-container {
    & .app-header {
      & section {
        &:nth-of-type(2) {
          & .create-design-btn {
            width: 5em;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
