@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  flex-direction: $flex-direction;
}

@mixin btn() {
  cursor: pointer;
}

.login-signup-form {
  @include flexCenter(column);
  position: fixed;
  top: 20%;
  left: 35%;
  padding: 1em;
  border-radius: 10px;
  background-color: $white3;
  width: 20em;
  height: fit-content;
  z-index: 4;

  & div {
    &.form-input {
      @include flexCenter(column);
      margin-block-end: 1em;
      & input {
        padding: 0.5em;
      }
    }
  }

  & .close-btn {
    @include flexCenter(row);
    @include btn();
    align-items: center;
    position: relative;
    right: -20em;
    top: -1.0625em;
    background-color: $black1;
    width: fit-content;
    padding: 0.5em;
    border-radius: 50%;
    color: #fff;
  }

  & .divide {
    display: flex;

    & hr {
      width: 40%;
    }
  }

  & button {
    @include flexCenter(row);
    align-items: center;
    cursor: pointer;
    border: 1px solid $grey4;
    width: 100%;
    margin-block: 0.5em;
    background-color: #fff;
    padding-block: 0.5em;
    border-radius: 5px;

    &:hover {
      background-color: $grey2;
    }

    & span {
      width: 100%;
    }
  }

  & .submit-btn {
    @include flexCenter(row);
    margin-inline: auto;
    padding-block: 0.6em;
    background-color: $purple1;
    color: #fff;

    &:hover {
      background-color: $purple2;
    }
  }
}

.login-signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: $grey5;
  z-index: 2;
  transform: 2s;
}
