.sidebar-navbar {
  position: fixed;
  inset: 0;
  width: 280px;
  background-color: rgb(255, 252, 252);
  box-shadow: 0 0 5px rgb(128, 127, 127);
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding-block-end: 2em;

  & .user-details {
    display: flex;

    & img {
      width: 7em;
    }

    & section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  & nav {
    flex: 1;

    & a.active {
      & button {
        background-color: rgba(194, 194, 194, 0.3);
      }
    }

    & button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.6;
      background-color: transparent;
      border: none;
      padding: 10px 20px;
      margin: 0 0 4px;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: rgba(194, 194, 194, 0.3);
      }

      & span {
        font-size: 14px;
      }
    }
  }

  & .btn-login {
    padding: 0 1em;
    width: 6em;
    height: 2.5em;
    border: 1px solid rgb(230, 226, 226);
    border-radius: 5px;
    cursor: pointer;
    margin-inline-end: 1em;
    background-color: white;

    &:hover {
      background-color: rgb(241, 241, 242);
    }

    & span {
      @include btnText();
      color: #0d1216;
    }
  }

  & .btn-signup {
    @extend .btn-login;
    background-color: #8b3dff;

    &:hover {
      background-color: #7334d1;
    }

    & span {
      @include btnText();
      color: #fff;
    }
  }

  & .login-signup-section {
    display: flex;
    flex-direction: column;

    & button {
      width: 80%;
      margin-inline: auto;
      margin-block-start: 10px;
    }
  }
}

.sidebar-navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 99, 99, 0.5);
  z-index: 2;
  transform: 2s;
}
